*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
img{
    width:200px;
    height:80px;
    position:relative;
}


img:hover{
    border:5px dashed gold;

}

header{
    background-color:#1C7E80;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
}
.header-content{
    max-width:none ;
    margin: auto;
    display: flex;
    justify-content:space-between;

}
body {
    color: white;
    margin:0;
    background-color: #00705C;
    display: flex;
    min-height: 100vh;

}
.info3{
    height:2100px;
    width:1800px;
    color: black;
    margin:0;
    top:175px;
    position:absolute;
    background-color:aliceblue;
    min-height: 100vh;

}

.logo{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    height:100px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;


}
.menu nav ul li {
    height: 100%;
    display: flex;
    margin: 0 30px;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.7s;
}
.menu nav ul li a{
    color: #ffffff;
    font-size: 17px;

}
.menu nav ul li a:hover{
    color:black;
    background-color:gold;
    box-shadow:0 0 10px gold , 0 0 40px gold, 0 0 80px gold;

}
#integrante{
    font-size: 23px;
    color:#FFAD19;
}

.info {
    top:100px;
    position: absolute;
    margin:25px;
    height: 1300px;
}
.info4 {
    top:5px;
    position:relative;
    margin:10px;
}

.footer{
    background-color:#1C7E80;
    color:#FFAD19 ;
    height:120px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding:25px;
    font-size: 15px;

}

.info2 {
    top:100px;
    position:absolute;
    margin:0;
}

.info1 {
    top:100px;
    position: relative;
    margin:10px;
    height:1500px;
}

.container-comments{
    margin-top:20px;
}
.comments{
    display: flex;
}
.photo-perfil{
    width: 200px;
    height: 200px;
    border-radius: 60%;
    overflow: hidden;
}
.photo-perfil img{
    width: 100%;
    height: 100%;
}
.info-comments{
    margin-left:15px;
    background: #c59fdd;
}
.info-comments .header{
    display: flex;
    justify-content: space-between;
    background: #292c2f;
    color:white;
}
.info-comments p{
    padding: 20px;

}

.btn-group-lg .btn, .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    color: #fff;
    background-color: #0a5;
    border-color: #0a53be;
}

.container-textos {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.ven{

    margin: 11px;

}

.Video{
    color: black;
    margin:0;
    top:250px;
    position:absolute;
    background-color:aliceblue;
    min-height: 100vh;

}